@page "/teams"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavigationManager;
@inject ITeamService TeamService;
@inject ErrorHandelingService ErrorHandlingService;
@inject DataService DataService;
@if (ErrorHandlingService.ShowError)
{
    <div class="error-message">
        @ErrorHandlingService.ErrorMessage
    </div>
}
<h3 class="page-header">Teams</h3>
<button class="btn btn-success" @onclick="() => OpenAddModal()">Team toevoegen</button>
<table class="table">
    <thead>
        <tr>
            <th>Teamnaam</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @if (TeamsList.Count == 0)
        {
            <tr>
                <td colspan="2" class="text-center">Geen teams gevonden</td>
            </tr>
        }
        else
        {
            @foreach (var team in TeamsList)
            {
                <tr>
                    <td>@team.Name</td>
                    <td>
                        <button class="btn btn-info" @onclick="() => GoToTeamInfo(team.Id)">Info</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (IsAddModalOpen)
{
    <div class="modal-overlay">
        <div class="modal-content">
            <h2>Voeg Team toe</h2>
            <form @onsubmit="SaveAddTeam">

                <label>Voornaam:</label>
                <input type="text" @bind="AddingTeam.Name" required class="form-control" /><br>

                <div class="button-group">
                    <button type="submit" class="btn btn-success">Opslaan</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseAddModal">Annuleren</button>
                </div>
            </form>
        </div>
    </div>
}